@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Light-Italic/15a2d62b-ca5c-45cb-9b3d-29bef80c6e9d-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Light-Italic/15a2d62b-ca5c-45cb-9b3d-29bef80c6e9d-2.eot?") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/Benton-Sans-Light-Italic/15a2d62b-ca5c-45cb-9b3d-29bef80c6e9d-3.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/Benton-Sans-Light-Italic/15a2d62b-ca5c-45cb-9b3d-29bef80c6e9d-1.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
body{margin:0; padding:0;}
body *{box-sizing: border-box;}
#contact img{margin-bottom:0.3em; vertical-align:middle;}
.gradient{background: linear-gradient(to bottom, #eef 0%, #e0e0f0 100%);}
#top{height:2em; overflow:hidden; background: linear-gradient(to bottom, #eef 0%, #e0e0f0 100%);border:1px solid rgba(0,0,0,0.3);}
#contact{text-decoration:none;line-height:2em; overflow:hidden;padding: 0 0.5em;color:#00f;float:right; border-left:1px solid #345578;}
#logo{margin-left:1em; font-size:1.3em; line-height:1.5em;color:#515151;font-weight:bold; text-decoration:none;}
#contact:hover{background:linear-gradient(to bottom, #eef 0%, #e6e6f6 100%);}
.benton{font-family: "Benton-Sans";}
.btn{border: 1px solid; border-radius:3px; cursor:default; height: 2em; line-height: 2em; 
border-color: rgba(52, 85, 120, 0.3) rgba(52, 85, 120, 0.3) rgba(52, 85, 120, 0.5) rgba(52, 85, 120, 0.5); 

background:linear-gradient(to bottom, #F6F6F6 0%, #E6E6E6 100%);
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:active{background:#A9D0F0;}
.btn:hover{background:linear-gradient(to bottom, #F6F6F6 0%, #D1D1D1 100%);}

.btn.disabled, .btn.disabled:hover{background-color: #E3E3E3 !important; color:#666!important;}
.btn img{width: 1em;height: 1em;}
.disabled img {filter: gray; -webkit-filter: grayscale(1); filter: grayscale(1);}
.btn.amazon{background: linear-gradient(to bottom,#f7dfa5 0%,#f0c14b 100%)}
.btn.amazon:hover{background: linear-gradient(to bottom,#f7dfa5 0%,#fdd15b 100%)}

ul.BtnBar {white-space: nowrap; margin:0 1em; padding: 0; display:inline-block;}
ul.BtnBar li{display:inline-block; list-style-type: none; margin:0; border-radius:3px; padding: 0 5px; min-width:4em; text-align:center;}
a.btn{display:inline-block; text-decoration:none; color:black; padding:0 0.5em;}
